input[type="text"] {
    display: block;
    width: 100%;
    height: 25px;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    &:focus {
       border-bottom: 1px solid black;
    }
}

span {
   color: red;
   font-style: italic;
}