.toDo {
    position: relative;
    margin-bottom: 10px;
    padding: 20px;
    width: 600px;
    height: 100px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content {
        margin-left: 40px;
    }
}