.noteBlock {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
    padding: 20px;
    height: 120px;
    background: rgb(213, 213, 213);
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

    textarea {
        height: 100%;
        flex-grow: 1;
        border: none;
        border: 1px solid grey;
        border-radius: 8px;
        background: transparent;
        font-size: 1.3em;
        resize: none;
    }

    .note {
        flex-grow: 1;
        font-size: 1.2em;
        align-self: flex-start;
        overflow-wrap: break-word;
    }

    .weatherBlock {
        font-size: 1em;
        text-align: center;

        img {
            max-width: 100px;
            margin-top: -20px;
            margin-bottom: -15px;
        }
    }

    .buttonsBlock {
        align-self: flex-start;
        margin-left: 10px;

        .editButton,
        .deleteButton {
            width: 14px;
            height: 14px;
            background-repeat: no-repeat;
            cursor: pointer;
            transition: 0.2s ease-in;
        }

        .deleteButton {
            background-image: url('../../assets/delete.svg');

            &:hover {
                transform: rotate(90deg);
                transition: 0.15s ease-in-out;
            }
        }

        .editButton {
            background-image: url('../../assets/edit.svg');
            margin-top: 10px;
            width: 18px;
            height: 18px;
        }
    }
}

@media (max-width: 768px) {
    .noteBlock {
        max-width: 95%;
    }
}

@media (max-width: 380px) {
    .noteBlock {
        margin-bottom: 8px;
        padding: 10px;
        height: 80px;
        textarea {
            font-size: 1em;
        }

        .note {
            font-size: 1em;
        }
    
        .weatherBlock {
            font-size: 0.8em;
            text-align: center;
    
            img {
                max-width: 60px;
                margin-top: -20px;
                margin-bottom: -15px;
            }
        }
    
        .buttonsBlock {
    
            .deleteButton {
                width: 12px;
                height: 12px;
            }
    
    
            .editButton {
                background-image: url('../../assets/edit.svg');
                margin-top: 10px;
                width: 16px;
                height: 16px;
            }
        }
    }
}